@import "../../style/vars";

.mainContainer {
  position: relative;
  width: calc(100% - $baseOffset * 2);
  padding: $baseOffset;
  padding-bottom: 0;
  background-color: $mainBG;
}

.speedbar {
  margin: -10px 0 10px;
  font-size: 12px;
  color: #888;
}

.speedItem {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #888;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover::after {
    opacity: 1;
  }
}

.fmain {
  width: 100%;
  padding: 0 -20px 0 -20px;

  font-family: "Open Sans", sans-serif;
}

.fmainGrid {
  display: grid;
  grid-template-columns: calc(100% - 270px) 270px;

  @media (max-width: 950px) {
    grid-template-columns: 100%;
  }
}

.fLeft {
  background-color: $primary;
  padding: $baseOffset;
}

.fLeftContainer {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;

  @media (max-width: 650px) {
    flex-direction: column-reverse;
  }
}

.fRight {
  background-color: $ChineseWhite;
  padding: $baseOffset;
  padding-bottom: 0;
  transition: height 0.5s;
  &Title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    color: inherit;
  }

  @media (max-width: 950px) {
    // display: none;
    & {
      transition: 0.3s;

      &.expand {
        .expandBlock {
          display: block;
          visibility: visible;
        }
      }
    }
  }
}

.expandBlock {
  @media (max-width: 950px) {
    display: none;
    visibility: hidden;
  }
}

.openSearch {
  display: none;
  @media (max-width: 950px) {
    & {
      display: block;
    }
  }
}

.fbSearch {
  width: 100%;

  + & {
    margin-top: 10px;
  }
}
.fbInput {
  width: calc(100% - 22px);
  padding: 0 10px;
  height: 34px;
  background-color: $mainBG;

  line-height: 34px;
  font-size: 16px;

  border: 1px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #e3e3e3, inset 1px 2px 5px rgb(0 0 0 / 20%);

  &:focus {
    border: none;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 20%);
    outline: $cornflowerBlue solid 1px;
  }
}

.fbSearchCheckboxs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hrMain {
  margin: 8px -20px 8px -20px;
  background-color: $secondary;
}
.fSubtitle {
  text-align: center;

  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 -10px;
}
