@import "../../style/vars";

.rsb {
  position: relative;
  width: 100%;
  height: $searchHeight;

  &_bar {
    display: block;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 10px;
  }
  &_backBar {
    background-color: $secondary;
  }
  &_frontBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $primary;
  }
  &_dot {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    background-color: $apple;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      background-color: #89d152;
    }
  }

  &_from {
    left: 0;
  }
  &_to {
    transform-origin: top right;
    left: calc(100% - 16px);
  }

  &_about {
    position: absolute;
    padding: 0 3px;
    color: $primary;
    font-size: 10px;
    border-radius: 5px;
    background-color: $secondaryDark;
    user-select: none;
    white-space: nowrap;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
  }
}
