// color
$primary: #ffffff;
$secondary: #cccccc;
$secondaryDark: #9d9d9d;
$grey: #888;
$apple: #79c142;
$appleLight: #79d152;
$mainBG: #ededed;
$ChineseWhite: #e1e1e1;
$cornflowerBlue: #5897fb;
$EerieBlack: #1e1e1e;
$Jet: #343434;
$AmericanSilver: #444;
$Orange: #ff6408;
$TangerineYellow: #ffcc00;
// size
$headerHeight: 70px;
$searchHeight: 40px;
$baseOffset: 20px;
$menuItemWidth: 190px;
$topOffset: 270px;
$sbWidth: 260px;
//
// @import "../../style/vars";
